(
    url: "vmux://layout/",
    title: "vmux",
    manifest_title: "Layout",
    permissions: [
        "PageReady",
        "ThemeEvent",
        "LayoutUiState",
        "SideSheetResizeEvent",
        "WindowDragRegionEvent",
        "HeaderBackRequest",
        "HeaderForwardRequest",
        "HeaderReloadRequest",
        "HeaderAddressFocusRequest",
        "TabCreateRequest",
        "TabCloseRequest",
        "TabActivateRequest",
        "TabReorderRequest",
        "SideSheetStackActivateRequest",
        "SideSheetStackCloseRequest",
        "SideSheetStackCreateRequest",
        "SideSheetProjectOpenRequest",
        "SideSheetSectionRequest",
        "RemoteRequest",
        "RemotePairingShowRequest",
        "RemotePairingDismissRequest",
        "LayoutOverlayEvent",
        "RemoteCopyEvent",
        "RemoteRevokeRequest",
        "CommandBarPanelRequest",
        "BookmarkToggleRequest",
        "BookmarkMenuRootRequest",
        "BookmarkMenuPinRequest",
        "BookmarkMenuEntryRequest",
        "BookmarkMenuFolderRequest",
        "BookmarkOpenRequest",
        "BookmarkAddRequest",
        "BookmarkPinUrlRequest",
        "BookmarkRemoveRequest",
        "BookmarkRenameRequest",
        "BookmarkMoveRequest",
        "BookmarkDropRequest",
        "BookmarkPinRequest",
        "BookmarkUnpinRequest",
        "BookmarkFolderToggleRequest",
        "BookmarkFolderCreateRequest",
        "BookmarkFolderMoveRequest",
        "BookmarkFolderRenameRequest",
        "BookmarkFolderRemoveRequest",
        "BookmarkTextInputRequest",
        "BookmarkContextMenuRequest",
        "TeamEvent",
        "TeamOpenRequest",
        "TeamMemberFocusRequest",
        "TeamProfileCreateRequest",
        "TeamProfileSwitchRequest",
        "TeamProfileUpdateRequest",
        "SpaceOpenPageRequest",
        "SpaceAttachRequest",
        "SpaceDeleteRequest",
        "SpaceRenameRequest",
        "SpaceCreateRequest",
        "ProjectActivateRequest",
        "ProjectTreeToggle",
        "ExtensionsEvent",
        "ExtensionPopupOpenRequest",
        "ExtensionPopupBoundsRequest",
        "ExtensionPopupCloseRequest",
        "ExtPinRequest",
        "ExtOpenManagerRequest",
        "RelaunchRequest",
        "CommandBarReadyEvent",
        "CommandBarRenderedEvent",
        "CommandBarSizeEvent",
        "PathCompleteRequest",
        "PromptRequest",
        "OpenRequest",
        "TerminalRequest",
        "InvokeRequest",
        "SwitchSpaceRequest",
        "SwitchTabRequest",
        "ExRequest",
        "PickRequest",
        "DismissRequest",
        "CommandPaletteDraftRequest",
        "CommandPaletteHistoryMoveRequest",
        "CommandPaletteSubmitRequest",
        "CommandPaletteActivateRequest",
        "CommandPaletteRemoveAttachmentRequest",
        "CommandBarUiState",
        "CommandPaletteState",
        "HistorySuggestionsRequest",
        "McpServersRequest",
        "McpServerRequest",
        "McpServers",
        "ChatPickFiles",
        "ChatPasteMedia",
        "ChatMediaListRequest",
        "ChatAttachPaths",
        "UiKeyContext",
        "KeyStroke",
        "KeyClaims",
    ],
)
