(
    browser: (
        startup_url: "https://www.google.com",
    ),
    layout: (
        window: (
            padding: 8.0,
        ),
        pane: (
            gap: 8.0,
            radius: 8.0,
            border: 2.0,
        ),
    ),
)
