(
    url: "file://",
    title: "Files",
    manifest_url: "vmux://files/",
    keywords: ["file", "open"],
    icon: "Files",
    command_bar: true,
    permissions: [
        "PageReady",
        "ThemeEvent",
        "FileUiState",
        "FileEditorGotoDeclarationRequest",
        "FileEditorGotoTypeDefinitionRequest",
        "FileEditorGotoImplementationRequest",
        "FileEditorRenameRequest",
        "FileEditorFormatDocumentRequest",
        "FileEditorFormatSelectionRequest",
        "FileEditorCutRequest",
        "FileEditorCopyRequest",
        "FileEditorPasteRequest",
        "FileEditorChangeAllOccurrencesRequest",
        "FileEditorCodeActionRequest",
        "FileEditorCommandPaletteRequest",
        "FilePropertyEdit",
        "KnowledgeLinkOpen",
        "FileResizeEvent",
        "FileVideoRect",
        "FileScrollEvent",
        "FileFoldToggle",
        "FilePreviewRequest",
        "FileOpenEvent",
        "FileOpenExternalRequest",
        "FileTextInput",
        "FilePointerEvent",
        "FileViewModeSet",
        "FileKeymapSet",
        "FileShapeSet",
        "FileEncodingReopenRequest",
        "FileEncodingSaveRequest",
        "FileStatusPickerOpen",
        "FileTidyRequest",
        "FileFindRequest",
        "ExplorerTreeToggle",
        "ExplorerTreePrefetch",
        "ExplorerTreeRefresh",
        "ExplorerRevealCurrent",
        "ExplorerCollapseAll",
        "ExplorerCreate",
        "ExplorerRename",
        "ExplorerDelete",
        "ExplorerCloseEditor",
        "ExplorerPanelSetVisible",
        "ExplorerPanelWidth",
        "ExplorerGoto",
        "ExplorerSearchOpen",
        "ExplorerSearchRequest",
        "FileHoverRequest",
        "FileDefinitionRequest",
        "FileRenameRequest",
        "FileCodeActionPick",
        "FileReferencesRequest",
        "FileCompletionRequest",
        "FilePanelPick",
        "LspInstallRequest",
        "GitCommitRequest",
        "GitPushRequest",
        "GitHunkRequest",
        "PageKeyContext",
        "KeyStroke",
        "KeyClaims",
    ],
)
