(
    url: "vmux://git/",
    title: "Git",
    permissions: [
        "PageReady",
        "ThemeEvent",
        "GitUiState",
        "PageContextRequest",
        "GitKeyRequest",
        "GitPanelSelectRequest",
        "GitFileSelectRequest",
        "GitBranchCollectionSelectRequest",
        "GitBranchSelectRequest",
        "GitCommitSelectRequest",
        "GitStashSelectRequest",
        "GitDiscardFileRequest",
        "GitRepositoryRequest",
        "GitRepositoryPickerRequest",
        "GitConfigEditRequest",
        "GitUpdateCheckRequest",
        "GitBranchLogRequest",
        "GitDirectoryOpenRequest",
        "GitDirectorySelectRequest",
        "GitDirectoryAscendRequest",
        "GitDirectoryDescendRequest",
        "GitDirectoryToggleHiddenRequest",
        "GitDiffRequest",
        "GitStageRequest",
        "GitUnstageRequest",
        "GitDiscardRequest",
        "GitFetchRequest",
        "GitPullRequest",
        "GitStageAllRequest",
        "GitCommitRequest",
        "GitPushRequest",
        "GitHunkRequest",
        "GitAmendRequest",
        "GitCheckoutCommitRequest",
        "GitCherryPickRequest",
        "GitCreateBranchRequest",
        "GitDeleteBranchRequest",
        "GitFastForwardRequest",
        "GitMergeRequest",
        "GitRebaseRequest",
        "GitRevertRequest",
        "GitStashDropRequest",
        "GitStashPopRequest",
        "GitStashPushRequest",
        "ProjectActivateRequest",
        "PageKeyContext",
        "KeyStroke",
        "KeyClaims",
    ],
)
