(
    pages: [
        (
            url: "git://",
            title: "Git",
            manifest_url: "vmux://git/",
            title_message_id: "git-title",
            keywords: ["repository", "changes", "commit", "branch", "source control"],
            icon: "GitBranch",
            command_bar: true,
            permissions: [
                "PageReady",
                "ThemeUiState",
                "GitUiState",
                "GitKeyRequest",
                "GitPanelSelectRequest",
                "GitShortcutHelpRequest",
                "GitFileSelectRequest",
                "GitDiffRevealRequest",
                "GitBranchCollectionSelectRequest",
                "GitBranchSelectRequest",
                "GitCommitSelectRequest",
                "GitStashSelectRequest",
                "GitDiscardFileRequest",
                "GitBranchPromptOpenRequest",
                "GitBranchPromptCloseRequest",
                "GitBranchDraftRequest",
                "GitBranchSubmitRequest",
                "GitCommitDraftRequest",
                "GitCommitSubmitRequest",
                "GitRepositoryRequest",
                "GitRepositoryPickerRequest",
                "GitConfigEditRequest",
                "GitUpdateCheckRequest",
                "GitBranchLogRequest",
                "GitDirectoryOpenRequest",
                "GitDirectorySelectRequest",
                "GitDirectoryNextRequest",
                "GitDirectoryPreviousRequest",
                "GitDirectoryAscendRequest",
                "GitDirectoryDescendRequest",
                "GitDirectoryActivateRequest",
                "GitDirectoryParentRequest",
                "GitDirectoryToggleHiddenRequest",
                "GitStageRequest",
                "GitUnstageRequest",
                "GitDiscardRequest",
                "GitFetchRequest",
                "GitPullRequest",
                "GitStageAllRequest",
                "GitCommitRequest",
                "GitPushRequest",
                "GitHunkRequest",
                "GitAmendRequest",
                "GitCheckoutCommitRequest",
                "GitCherryPickRequest",
                "GitCreateBranchRequest",
                "GitDeleteBranchRequest",
                "GitFastForwardRequest",
                "GitMergeRequest",
                "GitRebaseRequest",
                "GitRevertRequest",
                "GitStashDropRequest",
                "GitStashPopRequest",
                "GitStashPushRequest",
                "ProjectActivateRequest",
                "KeyContextRequest",
                "KeyStroke",
                "KeyClaimsUiState",
            ],
        ),
        (
            name: "document",
            url: "vmux://git/",
            title: "Git",
            permissions: [
                "PageReady",
                "ThemeUiState",
                "GitUiState",
                "GitKeyRequest",
                "GitPanelSelectRequest",
                "GitShortcutHelpRequest",
                "GitFileSelectRequest",
                "GitDiffRevealRequest",
                "GitBranchCollectionSelectRequest",
                "GitBranchSelectRequest",
                "GitCommitSelectRequest",
                "GitStashSelectRequest",
                "GitDiscardFileRequest",
                "GitBranchPromptOpenRequest",
                "GitBranchPromptCloseRequest",
                "GitBranchDraftRequest",
                "GitBranchSubmitRequest",
                "GitCommitDraftRequest",
                "GitCommitSubmitRequest",
                "GitRepositoryRequest",
                "GitRepositoryPickerRequest",
                "GitConfigEditRequest",
                "GitUpdateCheckRequest",
                "GitBranchLogRequest",
                "GitDirectoryOpenRequest",
                "GitDirectorySelectRequest",
                "GitDirectoryNextRequest",
                "GitDirectoryPreviousRequest",
                "GitDirectoryAscendRequest",
                "GitDirectoryDescendRequest",
                "GitDirectoryActivateRequest",
                "GitDirectoryParentRequest",
                "GitDirectoryToggleHiddenRequest",
                "GitStageRequest",
                "GitUnstageRequest",
                "GitDiscardRequest",
                "GitFetchRequest",
                "GitPullRequest",
                "GitStageAllRequest",
                "GitCommitRequest",
                "GitPushRequest",
                "GitHunkRequest",
                "GitAmendRequest",
                "GitCheckoutCommitRequest",
                "GitCherryPickRequest",
                "GitCreateBranchRequest",
                "GitDeleteBranchRequest",
                "GitFastForwardRequest",
                "GitMergeRequest",
                "GitRebaseRequest",
                "GitRevertRequest",
                "GitStashDropRequest",
                "GitStashPopRequest",
                "GitStashPushRequest",
                "ProjectActivateRequest",
                "KeyContextRequest",
                "KeyStroke",
                "KeyClaimsUiState",
            ],
        ),
    ],
)
